<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reg Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/catalog/">Catalog</a></li>
        <li><a class="active" href="/api/v1/auth/register">Register</a></li>
        <li><a  href="/api/v1/auth/login">Login</a></li>
        <li><a href="/reviews/">Reviews</a></li>
        <li><a href="/orders/">Orders</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Registration</h1>
    <form th:method="POST" th:action="@{/api/v1/auth/login}" id="form">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Log In</button>
    </form>
  </main>
  <footer>
    <p>&copy; 2023, gromykhalin Matvey</p>
  </footer>
<script type="text/javascript" src="/js/register.js"></script>
</body>
</html>