<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Events</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/catalog/">Catalog</a></li>
        <li><a  href="/api/v1/auth/register">Register</a></li>
        <li><a  href="/api/v1/auth/login">Login</a></li>
        <li><a href="/reviews/">Reviews</a></li>
        <li><a href="/orders/">Orders</a></li>
      </ul>
    </nav>
  </header>
<div style="width:80%; margin:auto; position: relative; display: block;">
  <h2 style="display:none" id="success">Changes were saved!</h2>
  <h2 style="display:none" id="fail">Changes were not saved! Invalid data.</h2>

  <form th:action="@{/catalog/{id}/edit(id=${event.getId()})}" th:method="POST" id="editForm">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="id" id="id" th:value="${event.getId()}">

    <label for="name"> name</label>
    <input th:value="${event.getName()}" type="text" id="name">
    <br>
    <label for="desc"  > description</label>
    <input th:value="${event.getDescription()}" id="desc" type="text">
    <br>
    <label for="minPr"> Minimum Price</label>
    <input th:value="${event.getMinimumPrice()}" id="minPr" type="number">
    <br>
    <label for="type"> Type</label>
    <select size="1" name="type" id="type" >
      <option value="OTHER" th:selected="(${event.getType()} == 'OTHER')" >OTHER</option>
      <option value="FESTIVAL" th:selected="(${event.getType()} == 'FESTIVAL')">FESTIVAL</option>
      <option value="SPORT" th:selected="(${event.getType()} == 'SPORT')">SPORT</option>
      <option value="BIRTHDAY" th:selected="(${event.getType()} == 'BIRTHDAY')">BIRTHDAY</option>
      <option value="TEAM_BUILDING" th:selected="(${event.getType()} == 'TEAM_BUILDING')">TEAM_BUILDING</option>
    </select>
    <br>
    <label for="PFP"> Price For Person</label>
    <input th:value="${event.getPriceForPerson()}" id="PFP" type="number">
    <br>
    <button type="submit" id="editBtn">Edit</button>
  </form>


</div>
<footer>
  <p>&copy; 2023, gromykhalin Matvey</p>
</footer>
<script type="text/javascript" src="/js/checkToken.js"></script>
<script type="text/javascript" src="/js/editEvent.js"></script>
</body>
</html>