<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Event</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/catalog/">Catalog</a></li>
        <li><a  href="/api/v1/auth/register">Register</a></li>
        <li><a href="/api/v1/auth/login">Login</a></li>
        <li><a href="/reviews/">Reviews</a></li>
        <li><a href="/orders/">Orders</a></li>
      </ul>
    </nav>
  </header>
<div style="width:80%; margin:auto; position: relative; display: block;">

  <div >
    <h3 th:text="${event.getName()}">name</h3>
    <p th:text="${'Description: ' + event.getDescription()}">description</p>
    <p th:text="${'minimumPrice: ' + event.getMinimumPrice()}">minimumPrice</p>
    <p th:text="${'type: ' + event.getType()}">type</p>
    <p th:text="${'price for person: ' + event.getPriceForPerson()}">price for person</p>
  </div>



  <form th:method="GET" th:action="@{/catalog/{id}/edit(id=${event.getId()})}"  id="change">
    <button type="submit" id="changeEventBtn">edit</button>
  </form>

</div>
<footer>
  <p>&copy; 2023, gromykhalin Matvey</p>
</footer>
<script type="text/javascript" src="/js/checkToken.js"></script>
</body>
</html>