<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Catalog</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a class="active" href="/catalog/">Catalog</a></li>
        <li><a  href="/api/v1/auth/register">Register</a></li>
        <li><a  href="/api/v1/auth/login">Login</a></li>
        <li><a href="/reviews/">Orders</a></li>
        <li><a href="/orders/">Reviews</a></li>
      </ul>
    </nav>
  </header>
<div style="width:80%; margin:auto; position: relative; display: block;">


  <form th:method="POST" th:action="@{/catalog/sort}" id="sortByForm">
    <div>

      <p><select size="1" name="sortByChoice" id="sortByChoice"
                 onchange="changeSortField()" >
        <option selected disabled>Choose filter field</option>
        <option value="typeFiled">Event Type</option>
        <option value="minPrice">Minimum Price</option>
        <option value="priceForPerson">Price For Person</option>
      </select></p>


      <label for="type" id="type_label" style="display:none">type</label>
      <select size="1" name="type" id="type" style="display:none">
        <option selected disabled value="TYPE">TYPE</option>
        <option value="FESTIVAL">FESTIVAL</option>
        <option value="SPORT" >SPORT</option>
        <option value="BIRTHDAY">BIRTHDAY</option>
      </select>

      <label for="minPriceForPerson" id="minPriceForPerson_label" style="display:none"> minPriceForPerson</label>
      <input type="number" id="minPriceForPerson" name="minPriceForPerson" style="display:none">

      <label for="maxPriceForPerson" id="maxPriceForPerson_label" style="display:none"> maxPriceForPerson</label>
      <input type="number" id="maxPriceForPerson" name="maxPriceForPerson" style="display:none">

      <label for="minMinPrice" id="minMinPrice_label" style="display:none"> minMinPrice</label>
      <input type="number" id="minMinPrice" name="minMinPrice" style="display:none">

      <label for="maxMinPrice" id="maxMinPrice_label" style="display:none"> maxMinPrice</label>
      <input type="number" id="maxMinPrice" name="maxMinPrice" style="display:none">
    </div>
    <button type="submit" style="display:none" id="sortBtn">sort</button>
  </form>

<div id="eventHolder">
  <div th:each="event : ${events}" >
      <a th:text="${event.getName()}" th:href="@{/catalog/{id}(id=${event.getId()})}">Event Name</a>
      <p th:text="${'About : ' +  event.getDescription()}">Event Description</p>
      <p th:text="${'Price : ' + event.getMinimumPrice() + ' rubles'}">Event Min Price</p>
      <br>
      <form th:action="@{/catalog/{id}/edit(id=${event.getId()})}" th:method="GET" class="editBtn" style="display:none">
        <input type="submit" value="Edit" />
      </form>

    <br>
  </div>
</div>




<br>
<br>
  <form th:method="POST" th:action="@{/orders/}" id="addingOrderForm"  style="margin-bottom:5em">
    <h2>Leave your order</h2>
    <div>
      <label for="ordName"> Общие требования</label>
      <input type="text" id="ordName" name="ordName" required>

      <label for="ordDetails">Детали</label>
      <input type="text" id="ordDetails" name="ordDetails" required>

      <label for="ordDate">Желаемая дата</label>
      <input type="date" id="ordDate" name="ordDate" required>
    </div>
    <button type="submit">Add</button>
  </form>

</div>
<footer>
  <p>&copy; 2023, gromykhalin Matvey</p>
</footer>
<script type="text/javascript" src="/js/checkToken.js"></script>
<script type="text/javascript" src="/js/mainPageScript.js"></script>
<script type="text/javascript" src="/js/filterEvents.js"></script>
<script type="text/javascript" src="/js/mainPageAdminVisibility.js"></script>
</body>
</html>